@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
}

@layer base {
  @font-face {
      font-family: 'bebasLight';
      src: url('../font/bebasneue_light-webfont.woff');
      font-weight: normal;
      font-style: normal;

    }
    @font-face {
      font-family: 'bebasRegular';
      src: url('../font/bebasneue_regular-webfont.woff');
      font-weight: normal;
      font-style: normal;
    }
    @font-face {
      font-family: 'exo2';
      src: url('../font/exo2-regularcondensed-webfont.woff');
      font-weight: normal;
      font-style: normal;
    }

  }

  p {
    @apply
     text-dark text-justify	font-exo2 p-2 indent-5 
     cursor-default;
  }
  /* Основной уникальный заголовок, используется в блоке Heading */
  h1 { 
    @apply
     text-gray/80 md:text-gray 
     font-bebasRegular md:font-bebasLight 
     text-3xl md:text-4xl 
     text-center p-2 cursor-default;
     }
  /* Копия H1, используется без блока Heading */
  h2 {
    @apply
     text-gray/80 md:text-gray 
     font-bebasRegular md:font-bebasLight 
     text-3xl md:text-4xl 
     text-center p-2 cursor-default;
     }

            /* Подзаголовок для текста */
            h3 {
              @apply
               text-gray font-exo2 text-xl text-left p-2 indent-8
               cursor-default;
               }

                      /* Подзаголовок для блоков */
          h4 {
            @apply
             text-gray/80 font-bebasRegular text-2xl text-center p-2
             cursor-default;
             }

               p {
                @apply
                 text-dark text-justify	font-exo2 p-2 indent-5 
                 cursor-default;
              }

              ul {
                @apply
               text-dark font-exo2 list-disc p-2
               cursor-default;
                }

                /* kibon used h */

                h5 {
                  @apply
                   text-gray/80 font-bebasRegular text-xl text-left p-2 indent-8
                   cursor-default;
                   }
            




  .scrollbar-hide::-webkit-scrollbar {
    display: none;
}

  @media all and (max-width: 1023px) {
    .custom-bg {
      background-image: 
      linear-gradient(140deg, #8fb8d8, #f3f9fb);
    }
    }    

    @media all and (min-width: 1024px) {
      .custom-bg {
        background-image: 
        url(../../public/layout/topBg.svg),
        linear-gradient(140deg, #8fb8d8, #f3f9fb);
        background-repeat: no-repeat;
      }
      }  
   

  @supports (font: -apple-system-body) and (-webkit-appearance: none) { img[loading="lazy"] { clip-path: inset(0.6px) } }




